





.search {
    max-width: 834px;
    height: 120px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 35px #0000001F;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: -50px;
    z-index: 99999;

}

.search input {
    width: 100%;
    height: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E0E0E5;
    background-image: url("../../../public/images/Icon\ feather-search.png");
    background-size:20px;
    background-position: 20px center;
    padding-left: 50px;

}

.hladat-btn {
    width: 216px;
    height: 100%;
    background: #0F33FF 0% 0% no-repeat padding-box;
    border-radius: 31px 31px 31px 0px;
    color: #FFFFFF;
    margin-left: 20px;
    border: none;
    font: normal normal bold 16px/19px Montserrat;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.hladat-btn:hover {
    background-color: #ffffff;
    color: #0F33FF;
    border: solid 1px #0F33FF;
}

.x-button {
    color: #0F33FF;
    width: 30px;
    height: 30px;
    border: none;
    margin-left: -45px;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0);
    margin-right: 20px;
    border-radius: 0;
    cursor: pointer;
}



.logo-top-black {
    position: absolute;
    left: 3.6%;
    top: 58px;
    background-image: url("../../../public/images/Pixelmate_logo_claim_white-1.png");
    width: 180px;
    height: 35px;
    background-size: cover;
    z-index: 6;

}

.container-dizajn {
    position: relative;
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    padding: 0 200px 0 200px;
    background: transparent linear-gradient(165deg, #ECEFFF66 0%, #ECEFFF 100%) 0% 0% no-repeat padding-box;
    padding-top: 100px;

    padding-bottom: 40px;
}

@media (max-width: 768px) {
    .container-dizajn {
        padding: 100px 50px 0 50px;
    }
}


@keyframes ldio-3dscfi9z2gp {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
  }
  .ldio-3dscfi9z2gp div {
    position: absolute;
    width: 139.26px;
    height: 139.26px;
    border: 8.44px solid #0f33ff;
    border-top-color: transparent;
    border-radius: 50%;
  }
  .ldio-3dscfi9z2gp div {
    animation: ldio-3dscfi9z2gp 1s linear infinite;
    top: 105.5px;
    left: 105.5px
  }
  .loadingio-spinner-rolling-s9k1qnjmbq {
    width: 211px;
    height: 211px;
    overflow: hidden;
    background: none;
    margin: auto;
    margin-top: 70px;
  }

  .ldio-3dscfi9z2gp {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; 
  }
  .ldio-3dscfi9z2gp div { box-sizing: content-box; }

  